html{
  background-color: #222831 !important;
  overflow-x: hidden;
  scrollbar-width: normal;
  scrollbar-color: #777 #555;
}

html::-webkit-scrollbar {
  width: .7rem;
  height: 20px;

}

html::-webkit-scrollbar-thumb {
  background-color: #7775;
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

html::-webkit-scrollbar-track {
  background-color: #5555;
}

.bg-dark{
  background-color: #00000000 !important;
  z-index: 100;
}

body{
  background-color: #222831 !important;
  color: white;
}

.card{
  background-color: #333a4444;
  border: 3px solid #FFD369;
  border-radius: 25px;
  color:white;
  backdrop-filter: blur(5px) !important;
}

.info{
  background-color: #FFD369 !important;
  color: black !important;
  border: 1px solid #af892f !important;
}

.info:active{
  background-color: #af892f !important;
}

.teste{
  position: relative;
  top: -100px;
}

.testLetter{
  color: #f1f1f1;
  font-size:  large;
}

.testLetter:hover{
  color: #FFD369;
  font-size: large;
  text-shadow: 0 0 3px #FFD369;
}

.carrosel{
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.carta{
  padding-bottom: 0.4em;
  background-color: #171717;
  border: 2px solid #ffd2696e;
  border-radius: 5px;
  transition: .4s ease-in-out;
}

.cartaIMG{
  max-height:  360px;
}

.carta:hover{
  transform: scale(1.0);
  border: 1px solid black;
}