html{
  background-color: #222831 !important;
}

.bg-dark{
  background-color: #222831 !important;
}

body{
  background-color: #222831 !important;
}

.card{
  background-color: #333A44;
  border: 2px solid #FFD369;
  border-radius: 15px;
  color:white;
  backdrop-filter: blur(15px);
}